.excard{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    height: 350px;
    justify-content: center;
    -webkit-box-shadow:0 0 20px #eee;
    -moz-box-shadow:0 0 20px #eee;
    box-shadow:0 0 20px #eee;
    border-radius: 5px;
}

.excard img{
    width: fit-content;
}

.excard a{
    text-decoration: none;
    color: #fff;
    background-color: hsl(231, 69%, 60%);
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
}

.excard p{
    color: hsl(229, 8%, 60%);
}