.Faq{
    height: auto;
    width: 100%;
    margin-bottom: 40px;
}

.Faq-container{
    width: 60%;
    margin: auto;
    text-align: center;
}

.Faq p{
    color: hsl(229, 8%, 60%);
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    border-top: 1px solid #eee;
    cursor: pointer;
}

.question p:hover{
    color: lightcoral;
}

.qa{
    margin-top: 50px;
    margin-bottom: 50px;
}

.Faq-container a{
    text-decoration: none;
    color: #fff;
    background-color: hsl(231, 69%, 60%);
    border-radius: 5px;
    padding: 15px;
}