.Features{
    height: auto;
    width: 100%;
}

.Featura{
    width: 500px;
    color: hsl(229, 8%, 60%);
    margin: auto;
}

.Features ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Features li{
    list-style-type: none;
    color: hsl(229, 8%, 60%);
    cursor: pointer;
    padding: 10px;
}

.Features li:hover{
    color: lightcoral;
}

.Features-container{
    text-align: center;
}

.active{
    border-bottom: 3px solid hsl(0, 94%, 66%);
    color: #000 !important;
}